.giftSection {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 24px;
    gap: 24px;
    background: #FFFFFF;
    width: 100%;
    max-width: 568px;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #17181E;
}

.desctopCard {
    position: relative;
    display: flex;
    padding: 12px 12px 12px 24px;
    gap: 70px;
    border-radius: 12px;
    align-items: center;
    background: #F5F7FA;
}

.mobileCard {
    position: relative;
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    align-items: center;
    background: #F5F7FA;
}

.bonusPercent {
    color: #D6850D;
    font-size: 32px;
    font-weight: 600;
}

.bonusDescription {
    color: #0C0E1266;
    font-size: 16px;
    font-weight: 500;
}

.img {
    position: absolute;
    left: 81px;
    bottom: 12px;
}

.contentWrapper {
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    padding: 24px;
    border-radius: 10px;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    position: relative;
    width: 100%;
    min-width: 210px;
}

.lineMobile {
    position: relative;
    width: 100%;
    max-width: 195px;
}

.lineWrapper {
}

.orangeLine {
    position: absolute;
    background: #FFB11A;
    height: 8px;
    z-index: 2;
    border-radius: 99999px;
}

.grayLine {
    position: absolute;
    width: 100%;
    background: #F5F7FA;
    height: 8px;
    z-index: 1;
    border-radius: 99999px;
}

.progress {
    font-size: 14px;
    font-weight: 500;
    color: #0C0E1266;
    margin-top: 12px;
}

.contentTitle {
    font-size: 18px;
    font-weight: 600;
    color: #17181E;
}

.buttonInActive {
    opacity: 25% !important;
    pointer-events: none !important;
}

.buttonSize {
    padding: 6px 16px 6px 16px !important;
}

.buttonMobile {
    width: 100%;
}

.bonusMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mobileCardInActive {
    display: flex;
}

@media (max-width: 1000px) {
    .giftSection {
        max-width: 100%;
    }
}

@media (max-width: 640px) {

    .lineMobile {
        width: 100%;
        max-width: 100%;
    }

    .content {
        width: 100%;
    }

    .giftSection {
        max-width: 100%;
        flex-direction: column;
    }

    .desctopCardInActive {
        display: none;
    }

    .giftSection {
        padding: 16px;
    }
}

@media (min-width: 640px) {
    .mobileCardInActive {
        display: none;
    }
}