
.faq {
    background: #F5F7FA;
    padding: 100px 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    color: #17181E;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.textStyle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AccordionWrapper {
    display: grid;
    gap: 8px;
}

@media (max-width: 640px) {
    .title{
        font-size: 32px;
        line-height: 40px;
    }
}